{% extends "create_event_layout.html" %}
{% block event %}
<div class="w3-container w3-white w3-padding-16">
    <div class="w3-row-padding">
        <h4><i class="fa fa-info" aria-hidden="true"></i> &nbsp;Identificação</h4>
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="text" placeholder="Nome do Evento" name="name" required>
        </div>
        <div class="w3-half w3-margin-bottom">
            <select class="w3-input w3-border" id="estado1" name="category" style="height: 48.5px;">
                <option value="Tipo">Tipo do Evento</option>
                <option value="Show">Show</option>
                <option value="Convenção">Convenção</option>
                <option value="Palestra">Palestra</option>
                <option value="Festa">Festa</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
    </div>
    <div class="w3-row-padding">
        <h4><i class="fa fa-low-vision" aria-hidden="true"></i> &nbsp;Visibilidade</h4>
        <div class="w3-half w3-margin-bottom">
            <input type="radio" id="publico1" name="visibility" value="Público1" required checked>
            <label for="publico1">Público</label><br>
            <input type="radio" id="privado1" name="visibility" value="Privado1">
            <label for="privado1">Privado</label>&nbsp;&nbsp;&nbsp;<input class="w3-border" type="text"
                placeholder="Email dos convidados. Ex: Email1,Email2,..." style="width: 140px;" name="list_of_participants">
        </div>
    </div>
    <div class="w3-row-padding">
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Endereço</h4>
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="text" placeholder="Rua" name="street">
        </div>
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="number" placeholder="Número" name="house_number">
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="text" placeholder="Cidade">
        </div>
        <div class="w3-half w3-margin-bottom">
            <select class="w3-input w3-border" id="estado" name="state" style="height: 48.5px;">
                <option value="EST">Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="number" placeholder="CEP" name="zip_code" required>
        </div>
        <div class="w3-half w3-margin-bottom">
            <input class="w3-input w3-border" type="text" placeholder="Complemento" name="complement">
        </div>
    </div>
    <div class="w3-row-padding">
        <h4><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;Data e Horário</h4>
        <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-plus-o"></i> Data de Início</label>
            <input class="w3-input w3-border" type="date" name="start_date" required>
        </div>
        <div class="w3-half">
            <label><i class="fa fa-clock-o" aria-hidden="true"></i> Horário de Início</label>
            <input class="w3-input w3-border" type="time" name="check_in" required>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-minus-o"></i> Data de Fim</label>
            <input class="w3-input w3-border" type="date" name="end_date" required>
        </div>
        <div class="w3-half">
            <label><i class="fa fa-clock-o" aria-hidden="true"></i> Horário de Fim</label>
            <input class="w3-input w3-border" type="time" name="check_out" required>
        </div>
    </div>
</div>
{% endblock event %}