{% extends "layout.html" %}
{% block content %}
<div class="w3-display-container w3-margin-top">
    <img src="{{ url_for('static', filename='evento-futebol.jpg')}}" style="width:100%; height: 350px; object-fit: cover; margin-top: 48px;">
    <div class="w3-card w3-white w3-container w3-display-middle" style="opacity: 0.9; width: 100%; height: 150px;">
        <h1 class="w3-center"><b>{{event.get_name()}}</b></h1>
        <a href="{{url_for('subscribe', event_id=event.get_id())}}" class="w3-button w3-round-xxlarge w3-light-gray w3-hover-opacity-min w3-display-bottommiddle w3-margin-bottom">
            <b>Inscrever-se</b>
        </a>
    </div>
    {% if current_user.get_id() == event.get_host().get_id() %}
        <a href="{{ url_for('static', filename='QR/check_in' + event.get_id()|string + '.png')}}" download="check_in_QR.png">
            <div class="w3-button w3-light-grey w3-margin-bottom w3-margin-left w3-display-bottomleft w3-medium w3-round-xxlarge w3-col l3 m5 s5">
                <b class="w3-hide-small">Emitir QR Code do Check In</b>
                <b class="w3-hide-medium w3-hide-large">QR Code do Check In</b>
            </div>
        </a>
        <a href="{{url_for('static', filename='QR/check_out' + event.get_id()|string + '.png')}}" download="check_out_QR.png">
            <div class="w3-button w3-light-grey w3-margin-bottom w3-margin-right w3-display-bottomright w3-medium w3-round-xxlarge w3-col l3 m5 s5">
                <b class="w3-hide-small">Emitir QR Code do Check Out</b>
                <b class="w3-hide-medium w3-hide-large">QR Code do Check Out</b>
            </div>
        </a>
    {% endif %}
</div>

<div class="w3-row w3-display-container bg-gradient">
    <div class="w3-card w3-white w3-container w3-margin-bottom w3-margin-left w3-margin-top w3-margin-right w3-round-large">
        <h1 class="w3-center">Sobre o Evento &#x1F603;</h1>
        <h5 class="w3-center">Hospedado por <a href="{{ url_for('account',user_id=event.get_host().get_id() ) }}"><b>{{event.get_host().get_username()}}</b></a></h5>
        <hr>
        <h5>{{event.get_description()}}.</h5>
    </div>

    <div class="w3-card w3-white w3-container w3-margin-bottom w3-margin-left w3-margin-right w3-round-large">
        <h1 class="w3-center">Datas e Horários &#x1F4C5;</h1>
        <hr>
        <div class="w3-col l6 w3-center">
            <h4>&#x27A1; Check-In</h4>
            <h6><i class="fa fa-calendar-o" aria-hidden="true"></i> &nbsp;{{event.get_start_date()}}</h6>
            <h6><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;{{event.get_check_in()}}</h6>
        </div>
        <div class="w3-col l6 w3-center">
            <h4>Check-Out &#x27A1;</h4>
            <h6><i class="fa fa-calendar-o" aria-hidden="true"></i> &nbsp;{{event.get_end_date()}}</h6>
            <h6><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;{{event.get_check_out()}}</h6>
        </div>
    </div>

    <div class="w3-card w3-white w3-container w3-margin-bottom w3-margin-left w3-margin-right w3-round-large">
        <h1 class="w3-center">Local &#x1F3E1;</h1>
        <hr>
        <div class="w3-col l12 w3-middle w3-center">
            <img src="{{ url_for('static', filename='foto1.jpg')}}" alt="foto_evento" class="w3-round-xxlarge small-circle fit">
            <img src="{{ url_for('static', filename='foto2.webp')}}" alt="foto_evento" class="w3-round-xxlarge w3-margin-top w3-margin-left small-circle fit">
            <img src="{{ url_for('static', filename='foto3.webp')}}" alt="foto_evento" class="w3-round-xxlarge w3-margin-top w3-margin-left small-circle fit">
            <img src="{{ url_for('static', filename='foto4.webp')}}" alt="foto_evento" class="w3-round-xxlarge w3-margin-top w3-margin-left small-circle fit">
            <img src="{{ url_for('static', filename='foto5.jpg')}}"" alt="foto_evento" class="w3-round-xxlarge w3-margin-top w3-margin-left small-circle fit">
        </div>
        <div class="w3-col l4 w3-middle w3-center w3-margin-top">
            <hr>
            <h3>{{event.get_address().get_city() ~  ', ' ~ event.get_address().get_state() ~ ' (UF)' }}</h3>
        </div>
        <div class="w3-col l4 w3-middle w3-center w3-margin-top">
            <hr>
            <h3>Bairro</h3>
        </div>
        <div class="w3-col l4 w3-middle w3-center w3-margin-top">
            <hr>
            <h3>{{event.get_address().get_street() ~ ', ' ~ event.get_address().get_house_number()}}</h3>
        </div>
    </div>
    {% if sub_events %}
    <div class="w3-card w3-white w3-container w3-margin-bottom w3-margin-left w3-margin-top w3-margin-right w3-round-large">
        <h1 class="w3-center">Sub-Eventos&#x2757;&#x2757;&#x2757;</h1>
        
            {% for sub_event in sub_events %}
            <div class="w3-row w3-card w3-display-container w3-padding-16 w3-round-xxlarge w3-margin-bottom">
                <div class="w3-display-container">
                    <img src="{{ url_for('static', filename='evento-futebol.jpg')}}" class="image-strip1 w3-round-xxlarge w3-padding">
                    <p class="w3-card w3-white w3-container w3-display-topleft w3-round-xxlarge" style="font-size: 12pt; opacity: 0.9; margin-left: 30px; margin-top: 14px;">
                        <b>{{sub_event.get_name() ~ ' (' ~ sub_event.get_address().get_city() ~ ' ' ~ sub_event.get_address().get_state() ~ ')'}} </b>
                    </p>
                    <p class="w3-card w3-white w3-container w3-display-topright w3-round-xxlarge w3-hide-medium w3-hide-small" style="font-size: 10pt; opacity: 0.9; margin-right: 30px; margin-top: 17px;">
                        <b>De {{sub_event.get_start_date() ~ ' até ' ~ sub_event.get_end_date()}}</b>
                    </p>
                </div>
                <div class="w3-left">
                    <p class="w3-margin-left w3-margin-right" style="font-size: 11pt;">{{sub_event.get_description()}}</p>
                    <p class="w3-margin-left w3-margin-right" style="font-size: 9pt;">Host: <b>{{sub_event.get_host().get_username()}}</b></p>
                </div>
                <a href="{{url_for('event', event_id=sub_event.get_id())}}" class="w3-button w3-right w3-margin-right w3-margin-top w3-round-xxlarge w3-light-gray">Inscrever-se</a>
            </div>
            {% endfor %}
        
    </div>
    {% endif %}
    {% if check_out %}
    <div class="w3-card w3-white w3-container w3-margin-bottom w3-margin-left w3-margin-top w3-margin-right w3-round-large">
        <h1 class="w3-center">Participou do Evento? &#x1F389;</h1>
        <hr><br><br>
        <a href="{{ url_for('static', filename='certificates/certificate' + current_user.get_id()|string + '.pdf' )}}" download="certificado_evento">
            <p class="w3-display-container">
                <button class="w3-button w3-gray w3-margin-bottom w3-button w3-display-bottommiddle w3-large w3-round-xxlarge w3-center w3-col l3 m5 s5" style="height: 50px;">
                    <b>Emitir certificado</b>
                </button>
            </p>
        </a>
    </div>
    {% endif %}
</div>
{% endblock content %}