{% extends "layout.html" %}
{% block content %}
<header id="home" class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-display-left w3-card w3-container w3-black w3-opacity w3-round-xxlarge w3-hide-small w3-hide-medium" style="padding: 26px; width: 700px; height: 250px; margin-left: -25px;">
    </div>
    <div class="w3-display-left w3-card w3-container w3-black w3-opacity w3-round-xxlarge w3-hide-small w3-hide-large" style="padding: 26px; width: 650px; height: 270px; margin-left: -25px;">
    </div>
    <div class="w3-display-left w3-card w3-container w3-black w3-opacity w3-round-xxlarge w3-hide-medium w3-hide-large" style="padding: 26px; width: 580px; height: 320px; margin-left: -25px;">
    </div>
    <div class="w3-display-left w3-text-white" style="padding: 26px">
        <span class="w3-xxxlarge main-span">Procurando por&nbsp</span><br>
        <span class="w3-xxxlarge">próximos de você?</span>
        <span class="arrow bounce w3-hide-small"><a id="invisible-button" href="#event-list" class="w3-button"></a></span>
    </div>
</header>

<!-- Eventos -->
<div class="w3-container" style="padding:80px 16px" id="event-list">
    <h3 class="w3-center">Explore eventos da nossa lista &#128512;</h3>
    
    <div class="w3-row-padding" style="margin-top:64px">
        {% for event in events %}
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div id="card" class="w3-card-4 w3-round-large">
                <img src="images/evento-show.jpg" alt="show" class="image-card">
                <div class="w3-container">
                    <h3>{{event.get_name()}}</h3>
                    <p style="color: red; font-size: 10pt; margin-top: -20px;">{{event.get_start_date()}}</p>
                    <p class="w3-opacity">{{event.get_category()}}</p>
                    <p>{{event.get_description()}}</p>
                    <p><a href="{{url_for('subscribe', event_id=event.get_id())}}" class="w3-button w3-dark-grey w3-block w3-round-large"></i>Inscrever-se</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

<!-- Criar Evento -->
<div class="w3-container w3-center w3-light-grey w3-padding-64">
    <div style="font-size: 22pt;">Possui um evento que gostaria de compartilhar com outra pessoas?</div>
    <div style="font-size: 16pt;">Nós podemos te ajudar a divulgá-lo &#128521</div>
    <a href="{{url_for('new_event')}}">
        <div class="w3-button w3-margin-top w3-dark-grey w3-round-xxlarge w3-xlarge">Crie seu Evento</div>
    </a>
</div>

<!-- Usuários -->
<div class="w3-container" style="padding:80px 16px" id="event-list">
    <h3 class="w3-center">Encontre pessoas que frequentem os mesmos eventos que você &#128525;</h3>

    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div id="card" class="w3-card-4 w3-round-large">
                <img src="images/pessoa1.jpg" alt="show" class="image-card">
                <div class="w3-container">
                    <h3>Nome da Pessoa</h3>
                    <p>Aqui vai uma descrição sobre a pessoa.</p>
                    <p><button class="w3-button w3-dark-grey w3-block w3-round-large"></i>Conectar-se</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div id="card" class="w3-card-4 w3-round-large">
                <img src="images/pessoa2.webp" alt="festa" class="image-card">
                <div class="w3-container">
                    <h3>Nome da Pessoa</h3>
                    <p>Aqui vai uma descrição sobre a pessoa.</p>
                    <p><button class="w3-button w3-dark-grey w3-block w3-round-large"></i>Conectar-se</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div id="card" class="w3-card-4 w3-round-large">
                <img src="images/pessoa3.jpeg" alt="futebol" class="image-card">
                <div class="w3-container">
                    <h3>Nome da Pessoa</h3>
                    <p>Aqui vai uma descrição sobre a pessoa.</p>
                    <p><button class="w3-button w3-dark-grey w3-block w3-round-large"></i>Conectar-se</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div id="card" class="w3-card-4 w3-round-large">
                <img src="images/pessoa4.webp" alt="congresso" class="image-card">
                <div class="w3-container">
                    <h3>Nome da Pessoa</h3>
                    <p>Aqui vai uma descrição sobre a pessoa.</p>
                    <p><button class="w3-button w3-dark-grey w3-block w3-round-large"></i>Conectar-se</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
    <a href="#home" class="w3-button w3-dark-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Voltar ao topo</a>
</footer>
{% endblock content %}