{% extends "layout.html" %}
{% block content %}
 <!-- Header -->
<header class="bgimg-1 w3-grayscale-min">
    <form action="" method="post">
        <!-- Login form -->
        <div class="w3-display-middle">
            <div id="login" class="w3-card-4 w3-round-large">
                <h1 style="transform: translateY(-20px);">Login</h1>
                <div class="input">
                    <input id="user" type="text" name="email" placeholder="Email" required>
                    <span class="fa fa-user-circle-o icon" style="left: 6px; top: 45%;"></span><br>
                </div>
                <div class="input">
                    <input id="passw" type="password" name="password" placeholder="Senha" required>
                    <span class="fa fa-lock icon" style="left: 9.5px; top: 46%;"></span><br>
                </div>
                <button type="submit">Entrar</button>
            </div>
        </div>
    </form>
</header>
{% endblock content %}
