{% extends "layout.html" %}
{% block content %}
<!-- Header -->
<header class="image">
    <!-- Register form -->
    <form action="{{ url_for('register')}}" method="post">
        <div class="w3-display-middle">
            <div id="login" class="w3-card-4 w3-round-large">
                <h1 style="transform: translateY(-20px);">Sign Up</h1>
                <div class="input">
                    <input id="user" type="text" name="name"placeholder="Usuário" required>
                    <span class="fa fa-user-circle-o icon" style="left: 6px; top: 45%;"></span><br>
                </div>
                <div class="input">
                    <input id="user" type="text" name="email" placeholder="E-mail" required>
                    <span class="fa fa-envelope icon" style="left: 6.5px; top: 45%;"></span><br>
                </div>
                <div class="input">
                    <input id="passw" type="password" name="password" placeholder="Escolha uma senha" required>
                    <span class="fa fa-lock icon" style="left: 9.5px; top: 46%;"></span><br>
                </div>
                <div class="input">
                    <input id="passw" type="password" name="confirm_password" placeholder="Repita a senha" required>
                    <span class="fa fa-lock icon" style="left: 9.5px; top: 46%;"></span><br>
                </div>
                <button type="submit">Cadastrar-se</button>
            </div>
        </div>
    </form>
</header>
{% endblock content %}