html{
    scroll-behavior: smooth;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 2;
}

.image {
    background-position: center;
    background-size: cover;
    background-image: url("mp.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

#left-login{
    background: linear-gradient(135deg, #000000 25%, transparent 25%) -33px 0/ 66px 66px, linear-gradient(225deg, rgba(0,0,0,0.5) 25%, transparent 25%) -33px 0/ 66px 66px, linear-gradient(315deg, #000000 25%, transparent 25%) 0 0/ 66px 66px, linear-gradient(45deg, rgba(0,0,0,0.5) 25%, #ffffff 25%) 0 0/ 66px 66px;
    background-color: #ffffff;
}

#login{
    padding: 50px 40px;
    background-color: white;
}

#user, #passw{
    position: relative;
    margin-top: 10px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid rgb(74, 74, 74);
    text-indent: 9px;
    height: 38px;
}

.icon{
    position: absolute;
    color: gray;
}

input{
    padding-left: 17px;
}
  
.input{
    position: relative;
}

button{
    position: relative;
    margin-top: 20px;
    border-radius: 8px 8px 8px 8px;
	width: 100%;
	background-color: rgb(51, 51, 51);
	color: #FFF;
	border: none
}

button:hover{
    background-color: rgb(32, 32, 32);
    transition: all .3s ease-in-out;
}